mat-sidenav {
	width: 250px;
	border-right: none;
	background: #1779ba;
	color: white;
	text-align: left;
  
	a.mat-list-item {
	  color: white;
	  text-decoration: none;
	  display: block;
	  margin-bottom: 8px;
	  font-size: 1rem;
  
	  &:hover {
		background-color: #003b7c;
	  }
  
	  &.active {
		background-color: #003b7c;
		font-weight: bold;
	  }
	}
  }
  
  .content {
	height: calc(100vh - 98px);
  
	display: flex;
	justify-content: center;
	align-items: center;
  
	font-size: 2rem;
	color: lightgray;
  }
  
  mat-sidenav-container {
	height: calc(100vh - 65px);
  }
  